.assess-container{

    width: 98vw;
    height: 98vh;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;

}

.asess-btn , .next-btn{

    background-color: blueviolet;
    padding: 24px 36px;
    font-size: 24px;
    color: white;
    font-weight: 500;
    border-radius: 100px;
    outline: none;
    font-family: "Poppins";
    cursor: pointer;
}

.next-btn{
    
    font-size: 18px;
    padding: 12px 36px;


}

.que-container{

    width: 50%;
    font-size: 24px;
    text-align: center;
    padding: 24px 0px 12px 0px;
    font-family: "Poppins";
    font-weight: 600;
    color: #6a6a6a;

}